$font-stack: Roboto, sans-serif;
$primary-color: white;
$accent-color: #ff9681;
$bg-color: #222;

$img-size: 300px;

html, body {
    margin: 0;
    font-family: $font-stack;
}

p {
    padding: 5px;
    margin: 0;
}


.header {
    color: $primary-color;
    background-color: $bg-color;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.header-links {
    text-align: right;
    display: inline-flex;
    position: relative;
    top: 50%;
}

.header-link {
    color: $primary-color;
    text-decoration: none;
}

.header-title {
    font-size: 50px;
}

.header-element {
    margin: 20px;
    font-size: 25px;
}

#filter-wrapper {
    color: $primary-color;
    background-color: $accent-color;
}

#filter-form {
    display: none;
}

#filter-title {
    text-align: center;
    font-size: 2.35em;
}

.filter-field-wrapper {
    margin: 0 auto;
    text-align: center;
}

.filter-field {
    display: inline-block;
    margin: 0;
    padding: 5px;
}

#filter-submit-wrapper {
    text-align: center;
    padding: 15px;
}

#app-wrapper {
    width: 100%;
}

#review-list-wrapper {
    width: 90%;
    margin: 0 auto;
}

.review-wrapper {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    max-width: 30%;

    .review-image-wrapper {
        background-color: gray;
        
        .review-image {
            width: $img-size;
            height: $img-size;
            object-fit: cover;
        }
    }

    .review-text-wrapper {
        max-width: $img-size;
        border-bottom: 1px solid gray;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
    }

    .review-item-title {
        text-align: center;
        font-size: 1.5em;
    }

    .review-meta > * {
        display: inline-block;
        font-size: 0.75em;
    }

    .review-info > * {
        display: inline-block;
    }

}