$font-stack: Roboto, sans-serif;
$primary-color: white;
$bg-color: #222;

html, body {
    margin: 0;
    font-family: $font-stack;
}

p {
    margin: 5px;
}


.header {
    color: $primary-color;
    background-color: $bg-color;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.header-links {
    text-align: right;
    display: inline-flex;
    position: relative;
    top: 50%;
}

.header-link {
    color: $primary-color;
    text-decoration: none;
}

.header-title {
    font-size: 50px;
}

.header-element {
    margin: 20px;
    font-size: 25px;
}

#app-wrapper {
    width: 100%;
}

#app {
    width: 75%;
    margin: 0 auto;
}

#app-title {
    text-align: center;
}

.post {
    border: 1px solid #222;
    margin: 10px 0
}

.post-meta-wrapper {
    width: 100%;
    vertical-align: top;
    
}

.post-meta, .post-title {
    display: block;
    vertical-align: top;
    height: 100%;
}

.post-title {
    font-size: 2em;
}

.post-meta-element {
    display: inline-block;
}

table {
    width: 100%;
    // display: none; // For dropdown
}

td {
    text-align: center;
}

tbody { // Not working idk why
    tr:not(last-child){
        border-bottom: 1px solid #222;
   }
}

.item-name {
    width: 15%;
}

.item-link {
    width: 30%
}

.item-size {
    width: 5%;
}

.item-review {
    width: 50%;
}